---
permalink: search.json
layout:
eleventyExcludeFromCollections: true
---
[
{%- for item in collections.all -%}
{% if item.data.title %}
{% if not loop.first %},{% else %}{%- endif -%}
  {
    "url" : "{{ item.url }}",
    "search": {
      "title": "{{ item.data.title | squash | weed}}",
      "text": "{{ (item.data.title + ' ' + item.data.eleventyNavigation.parent + ' ' + item.templateContent) | striptags(true) | escape | squash | weed }}"
    },
    "display": {
      "title": "{{ item.data.title }}",
      "parent": "{% if item.data.eleventyNavigation.parent %}{{ item.data.eleventyNavigation.parent }}{%- endif -%}"
    }
  }
{% endif %}
{%- endfor -%}
]